@{
    ViewData["Title"] = "Home Page";
}

 <link href="lib/node_modules/fullcalendar/main.css" rel="stylesheet" />
    <script src="lib/node_modules/fullcalendar/main.js"></script>
<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
    <div id="calendar"></div>